.header__lang {
  width: 78px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  list-style: none;
}

@media only screen and (max-width: 425px) {
  .header__lang {
    max-width: 64px;
    align-self: center;
  }
}
