.header__lang {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
}

@media only screen and (max-width: 320px) {
  .header__lang {
    max-width: 64px;
    max-height: 24px;
    align-self: center;
  }
}
