.cover__subtitle {
  max-width: 360px;
  margin: 32px 0 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  position: relative;
}

@media only screen and (max-width: 415px) {
  .cover__subtitle {
    max-width: 310px;
    font-size: 16px;
    line-height: 18px;
    margin: 16px 0 0;
  }
}


@media only screen and (max-width: 320px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
    margin: 16px 0 0;
  }
}


