@import url(__overlay/cover__overlay.css);
@import url(__subtitle/cover__subtitle.css);
@import url(__title/cover__title.css);

.cover {
  min-height: 740px;
  height: 100%;
  width: 100%;
  margin: 92px auto 0;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;
}

.cover:hover .cover__overlay {
  opacity: 0.8;
}

@media only screen and (max-width: 1024px) {
  .cover {
    min-height: 640px;
  }
}

@media only screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
    margin: 88px 0 0;
  }
}

@media only screen and (max-width: 320px) {
  .cover {
    min-height: 200px;
    margin: 0;
  }
}
